            <div class="two-thirds">
				<div class="post">
					<div class="post-meta">
						<h1><a href="blog-single.html">Bridge - HTML Template</a></h1>
						<small>Oct 13, 2010</small>
						<small>by <a href="#">John Doe</a></small>
						<small>in <a href="#">Web design</a></small>
						<small><a href="#">4 comments</a></small>
					</div>
					<p>it amet, <a href="">consectetuer adipiscing</a> elit. Donec semper, elit ipsum pulvinar est, Fusce tempor placerat</p>
					<a class="read-more" href="blog-single.html">Read more</a>
				</div><!--post ends-->
				<hr />
				<ul class="pagination clearfix">
					<li>Page 1 of 5</li>
					<li><a href="#" class="active">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">&raquo;</a></li>
					<li>...</li>
					<li><a href="#">5</a></li>
				</ul>
			</div>