                <div class="widget">
					<h3>Categories</h3>
					<ul>
                        <% Category.all.each do |category|  %>
                            <li><a href="/category/<%= category.name %>"><%= category.name %></a></li>
                        <% end %>
					</ul>
				</div>