        <div id="mini-footer"></div><!--mini-footer ends-->
		<div id="footer" class="clearfix">
			<ul class="social right">
				<li><a href="http://www.facebook.com/santhoshonet"><%= image_tag "social-icons/facebook_16.png", :alt => "facebook" %></a></li>
				<li><a href="http://twitter.com/#!/santhoshonet"><%= image_tag "social-icons/twitter_16.png", :alt => "twitter" %></a></li>
				<li><a href="http://www.flickr.com/photos/santhoshonet"><%= image_tag "social-icons/flickr_16.png", :alt => "flicker" %></a></li>
				<li><a href="http://in.linkedin.com/pub/santhosh-ps/16/627/565"><%= image_tag "social-icons/linkedin_16.png", :alt => "linkedin" %></a></li>
			</ul>
			<span>All the copyrights of this site registered &copy; 2015-16. Created by <a href="https://github.com/santhoshonet">Santhosh PS</a> using <a href="http://en.wikipedia.org/wiki/Ruby_on_Rails">Ruby on Rails</a> and hosted at <a href="http://www.heroku.com/">Heroku</a></span>
		</div><!--footer ends--->
