            <div class="one-fourth last">
				<div class="widget">
					<h3>Aim!!!</h3>
					<p><strong>Technology</strong>,<br /><%=  @aim %></p>
				</div>
                <%=  render :partial => "/partials/categories" %>
                <div class="widget">
					<h3>Contribution</h3>
				    We are inviting you to contribute your ideas and thoughts. We will publish the content behalf of you. If you are interested please contact us by dropping a mail to <a href="mailto:santhoshonet@gmail.com">santhoshonet@gmail.com</a>
                    <p></p>
				</div>
				<div class="widget">
					<h3>Advertisements</h3>
					For your adds, please contact us by dropping a mail to <a href="mailto:santhoshonet@gmail.com">santhoshonet@gmail.com</a>
                    <p></p>
				</div>
			</div>
