/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-title {
	width: auto;
	padding: 8px 15px;
	background-color: #000;
	color: #eee;
	bottom: 65px!important;
}
.cs-title h4, .cs-title p {margin:0;}

.cs-prev, 
.cs-next { display:none; background-color: #000000; color: #FFFFFF; padding: 0px 10px; }

.cs-buttons { 
	position:absolute;
	height:46px;
	left:425px;
	bottom:5px;
	z-index:10;
}
.cs-buttons a {
	float:left;
	display:block;
	text-indent:-9999px;
	padding-left:22px;
}
.cs-active {
	
}
