<div class="three-fourths">
    <h2>About Me</h2>
	<a class="right" href="#"><img class="img-border small" src="/images/Me.jpg" alt="my profile photo" /></a>
	<p><strong>Santhosh PS</strong>, Chennai. I'm a developer cum lead working in ILink Systems, Chennai, having 7 years of experience in software development life cycle in various technologies of Windows, Web, Mobile applications and Embedded systems using .net framework 2.0/3.5/4.0 and also carried out development projects in C, C++, VB.net, C#.net, ASP.net 2.0/3.5, MS Sharepoint Server 2007/2010, MS Project Server 2007/2010, Javascripts, Jquery, Asp.net MVC 2.0/3.0, Ajax, Json, Xml, Ruby on Rails 2.3.8....3.0.3,... etc     </p>
</div>
