 <div class="three-fourths">
    <h2>About Me</h2>
	<a class="right" href="#" >
    <img class="img-border small profilepic" src="/images/speed_up_software_development.jpg" alt="my profile photo"  />
  </a>
	<p>I'm <strong>Santhosh PS</strong>, working as a Sr. Technical Lead in a reputed service based IT company, Chennai,
    having around 11 years of experience in software development life cycle in various technologies like Windows, Web, Mobile applications and Embedded systems.
    Focusing on cutting edge trends in .Net, SharePoint, MVC, Angular, Git, Ruby On Rails.
    Also carried out development projects in C, C++, .Net, ASP.net, MVC, SharePoint, Project Server, Jquery, Angular Js, Git,Ruby on Rails.</p>
</div>
