             <div class="two-thirds">
				<div class="post">
					<div class="post-meta">
						<h1><a href="#">About me</a></h1>
						<small></small>
						<small><a href="#"></a></small>
						<small><a href="#"></a></small>
						<small><a href="#"></a></small>
					</div>
					<p><a href=""></a> <%= image_tag "Me.jpg" %> </p>
					<a class="read-more" href="#"></a>
				</div><!--post ends-->
				<hr />
				<ul class="pagination clearfix">
				</ul>
			</div>
