            <div class="two-thirds">
				<div class="post">
					<div class="post-meta">
						<h1><a href="#">Contact me</a></h1>
						<small></small>
						<small><a href="#"></a></small>
						<small><a href="#"></a></small>
						<small><a href="#"></a></small>
					</div>
					<p>Please contact us by dropping a mail to <a href="mailto:santhoshonet@gmail.com">santhoshonet@gmail.com</a></p>
					<a class="read-more" href=""></a>
				</div><!--post ends-->
				<hr />
				<ul class="pagination clearfix">
				</ul>
			</div>