            <div class="two-thirds">
				<div class="post">
					<div class="post-meta">
						<h1><a href="">Hello!</a></h1>
						<small>Thank you for visiting us, keep visit for interesting notes, we will keep you update....</small>
						<small><a href="#"></a></small>
						<small><a href="#"></a></small>
						<small><a href="#"></a></small>
					</div>
					<p> <%= image_tag "speed_up_software_development.jpg" %> </p>
					<a class="read-more" href="#"></a>
				</div><!--post ends-->
				<hr />
                <!-- START: Livefyre Embed -->
                <script type='text/javascript' src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
                <script type='text/javascript'>
                    var fyre = LF({
                        site_id: 301633
                });
                </script>
                <!-- END: Livefyre Embed -->
			</div>