            <div class="two-thirds">
				<div class="post">
					<div class="post-meta">
						<h1><a href="#">Open Source Projects</a></h1>
					</div>
					<p>We are still in the progress of development, we will upload soon.</p>
					<a class="read-more" href=""></a>
				</div><!--post ends-->
				<hr />
				<ul class="pagination clearfix">
				</ul>
			</div>